@model Quản_Lý_Sách.Models.Sach

@{
    ViewBag.Title = "Sửa sách";
}

<h2>Sửa sách</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.MaSach)

    <div class="form-group">
        @Html.LabelFor(model => model.TenSach)
        @Html.TextBoxFor(model => model.TenSach, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TacGia)
        @Html.TextBoxFor(model => model.TacGia, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NamXuatBan)
        @Html.TextBoxFor(model => model.NamXuatBan, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NhaXuatBan)
        @Html.TextBoxFor(model => model.NhaXuatBan, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuong)
        @Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gia)
        @Html.TextBoxFor(model => model.Gia, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaTheLoai)
        @Html.DropDownList("MaTheLoai", null, "Chọn thể loại", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    @Html.ActionLink("Quay lại", "Index")
}
