@model Web_Quản_lý_sách_trong_thư_viện.Models.ThanhToan

<h2>Thêm Thanh Toán Mới</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        @Html.LabelFor(model => model.MaKhachHang)
        @Html.DropDownListFor(model => model.MaKhachHang, new SelectList(ViewBag.KhachHangList, "MaKH", "HoTen"), "Chọn khách hàng", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaKhachHang)
    </div>

    <div>
        @Html.LabelFor(model => model.SoTien)
        @Html.TextBoxFor(model => model.SoTien, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SoTien)
    </div>

    <div>
        @Html.LabelFor(model => model.NgayThanhToan)
        @Html.TextBoxFor(model => model.NgayThanhToan, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(model => model.NgayThanhToan)
    </div>

    <button type="submit" class="btn btn-primary">Thêm</button>
}
