@model IEnumerable<Web_Quản_lý_sách_trong_thư_viện.Models.ThanhToan>

<h2>Danh Sách Thanh Toán</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().MaThanhToan)</th>
            <th>@Html.DisplayNameFor(model => model.First().KhachHang.HoTen)</th>
            <th>@Html.DisplayNameFor(model => model.First().SoTien)</th>
            <th>@Html.DisplayNameFor(model => model.First().NgayThanhToan)</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaThanhToan)</td>
                <td>@Html.DisplayFor(modelItem => item.KhachHang.HoTen)</td>
                <td>@Html.DisplayFor(modelItem => item.SoTien)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayThanhToan.ToString("dd/MM/yyyy"))</td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaThanhToan }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaThanhToan })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Thêm thanh toán mới", "Create")
</p>
