@model Quản_Lý_Sách.Models.KhachHang

@{
    ViewBag.Title = "Thêm độc giả";
}

<h2>Thêm độc giả</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.HoTen)
        @Html.TextBoxFor(model => model.HoTen, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgaySinh)
        @Html.TextBoxFor(model => model.NgaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DiaChi)
        @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoDienThoai)
        @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    @Html.ActionLink("Quay lại", "Index")
}
