@model Quản_Lý_Sách.Models.KhachHang

@{
    ViewBag.Title = "Chi tiết độc giả";
}

<h2>Chi tiết độc giả</h2>

<div>
    <h4>@Model.HoTen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>MaKH</dt>
        <dd>@Model.MaKH</dd>
        <dt>NgaySinh</dt>
        <dd>@Model.NgaySinh?.ToString("dd/MM/yyyy")</dd>
        <dt>DiaChi</dt>
        <dd>@Model.DiaChi</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>SoDienThoai</dt>
        <dd>@Model.SoDienThoai</dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("Quay lại", "Index")
</div>
