@model Web_Quản_lý_sách_trong_thư_viện.Models.QUAN_TRI

@{
    ViewBag.Title = "Chi tiết Quản Trị";
}

<h2>Chi tiết Quản Trị</h2>

<div>
    <h4>Quản Trị</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.TenDangNhap)</dt>
        <dd>@Html.DisplayFor(model => model.TenDangNhap)</dd>

        <dt>@Html.DisplayNameFor(model => model.QuyenHan)</dt>
        <dd>@Html.DisplayFor(model => model.QuyenHan)</dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
